@page
@model Sayhi.ApiService.Pages.HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test widget <a href="http://localhost:5406/ChatWidget?apiKey=DEMO-KEY-12345">here</a>.</p>
    <p>Demo <a href="https://localhost:7325/demo.html">page</a>.</p>
    <br />
    <p>Demo <a href="https://localhost:7325/Demo1">page 1</a>.</p>
    <p>Demo <a href="https://localhost:7325/Demo2">page 2</a>.</p>
</div>
